@charset "UTF-8";
/**
 * AudioLabs theme based on the default theme. The accent color is orange.
 *
 * * Copyright 2016 International Audio Laboratories Erlangen
 * This theme is based on https://github.com/StereotypicalApps by Owen Versteeg (MIT License)
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */
@import url(../../lib/font/fira/fira-sans.css);
section.has-dark-background, section.has-dark-background h1, section.has-dark-background h2, section.has-dark-background h3, section.has-dark-background h4, section.has-dark-background h5, section.has-dark-background h6 {
  color: #fff; }

/*********************************************
 * GLOBAL STYLES
 *********************************************/
body {
  background: #fff;
  background-color: #fff; }

.reveal {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  font-weight: normal;
  color: #222; }

::selection {
  color: #fff;
  background: #ff637d;
  text-shadow: none; }

::-moz-selection {
  color: #fff;
  background: #ff637d;
  text-shadow: none; }

.reveal .slides > section,
.reveal .slides > section > section {
  line-height: 1.3;
  font-weight: inherit; }

/*********************************************
 * HEADERS
 *********************************************/
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  margin: 0em 0em 1em 0em;
  color: #e20026;
  font-family: "Fira Sans", sans-serif;
  font-weight: normal;
  line-height: 1.2;
  letter-spacing: normal;
  text-transform: none;
  text-shadow: none;
  word-wrap: break-word; }

.reveal h1 {
  font-size: 1.5em; }

.reveal h2 {
  font-size: 1.2em; }

.reveal h3 {
  font-size: 1em; }

.reveal h4 {
  font-size: 0.8em; }

.reveal h1 {
  text-shadow: none; }

/*********************************************
 * OTHER
 *********************************************/
.reveal p {
  margin: 20px 0;
  line-height: 1.3; }

/* Ensure certain elements are never larger than the slide itself */
.reveal img,
.reveal video,
.reveal iframe {
  max-width: 95%;
  max-height: 95%; }

.reveal strong,
.reveal b {
  font-weight: bold; }

.reveal em {
  font-style: italic; }

.reveal ol,
.reveal dl,
.reveal ul {
  display: inline-block;
  text-align: left;
  margin: 0 0 0 1em; }

.reveal ol {
  list-style-type: decimal; }

.reveal ul {
  list-style-type: disc; }

.reveal ul ul {
  list-style-type: square; }

.reveal ul ul ul {
  list-style-type: circle; }

.reveal ul ul,
.reveal ul ol,
.reveal ol ol,
.reveal ol ul {
  display: block;
  margin-left: 40px; }

.reveal dt {
  font-weight: bold; }

.reveal dd {
  margin-left: 40px; }

.reveal blockquote {
  display: block;
  position: relative;
  width: 70%;
  margin: 20px auto;
  padding: 5px;
  font-style: italic;
  background: rgba(255, 255, 255, 0.05);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2); }

.reveal blockquote p:first-child,
.reveal blockquote p:last-child {
  display: inline-block; }

.reveal q {
  font-style: italic; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.55em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal table {
  margin: auto;
  border-collapse: collapse;
  border-spacing: 0; }

.reveal table th {
  font-weight: bold; }

.reveal table th,
.reveal table td {
  text-align: left;
  padding: 0.2em 0.5em 0.2em 0.5em;
  border-bottom: 1px solid; }

.reveal table th[align="center"],
.reveal table td[align="center"] {
  text-align: center; }

.reveal table th[align="right"],
.reveal table td[align="right"] {
  text-align: right; }

.reveal table tbody tr:last-child th,
.reveal table tbody tr:last-child td {
  border-bottom: none; }

.reveal sup {
  vertical-align: super; }

.reveal sub {
  vertical-align: sub; }

.reveal small {
  display: inline-block;
  font-size: 0.6em;
  line-height: 1.2em;
  vertical-align: top; }

.reveal small * {
  vertical-align: top; }

/*********************************************
 * LINKS
 *********************************************/
.reveal a {
  color: #e20026;
  text-decoration: none;
  -webkit-transition: color .15s ease;
  -moz-transition: color .15s ease;
  transition: color .15s ease; }

.reveal a:hover {
  color: #ff3052;
  text-shadow: none;
  border: none; }

.reveal .roll span:after {
  color: #fff;
  background: #960019; }

/*********************************************
 * IMAGES
 *********************************************/
.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: 4px solid #222;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.reveal section img.plain {
  border: 0;
  box-shadow: none; }

.reveal a img {
  -webkit-transition: all .15s linear;
  -moz-transition: all .15s linear;
  transition: all .15s linear; }

.reveal a:hover img {
  background: rgba(255, 255, 255, 0.2);
  border-color: #e20026;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.55); }

/*********************************************
 * NAVIGATION CONTROLS
 *********************************************/
.reveal .controls {
  color: #e20026; }

/*********************************************
 * PROGRESS BAR
 *********************************************/
.reveal .progress {
  background: rgba(0, 0, 0, 0.2);
  color: #e20026; }

.reveal .progress span {
  -webkit-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  -moz-transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985);
  transition: width 800ms cubic-bezier(0.26, 0.86, 0.44, 0.985); }

.reveal .remark {
  color: white;
  background: rgba(255, 0, 0, 0.7);
  text-align: center;
  box-shadow: -5px 5px 5px grey;
  border-radius: 10px; }

.reveal .affirmation {
  text-align: center;
  background: rgba(210, 210, 210, 0.7);
  box-shadow: -5px 5px 5px grey;
  margin-top: 0.8em;
  border-radius: 10px;
  border-width: 100px; }

.reveal .question {
  color: black;
  background: rgba(250, 150, 0, 0.65);
  text-align: center;
  box-shadow: -5px 5px 5px grey;
  border-radius: 10px; }

.reveal .rt {
  width: 100%;
  padding: 0.5em;
  line-height: 1.3em;
  box-shadow: -5px 5px 5px grey;
  border-radius: 10px;
  color: white;
  background: rgba(0, 0, 0, 0.03);
  color: #404040;
  margin-left: 0em;
  margin-top: 1em;
  background-image: url("img/bulb.png");
  background-repeat: no-repeat;
  background-position: calc(100% - 1em) center;
  background-size: 2em 2em; }

.reveal #coverauthors {
  position: absolute;
  top: 0.8em;
  height: 8em;
  margin-left: 8em; }

.reveal #coverh2 {
  position: absolute;
  font-size: 1em;
  top: 5.5em;
  border-radius: 0.8em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em; }

.reveal #highlighth2 {
  font-size: 1em;
  border-radius: 0.8em;
  color: white;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1em; }

.reveal #coverh2:hover {
  color: white; }

.reveal .solutions li {
  padding: 0em;
  margin-left: -0.5em;
  font-size: 1em;
  font-weight: 100;
  padding-bottom: 0px; }

.reveal .solutions ul > li:before {
  content: "▹  ";
  font-family: FontAwesome;
  color: black;
  font-size: 1em;
  padding-right: 0.25em;
  display: inline-block; }

.reveal .references ul {
  list-style: none;
  border-radius: 5px;
  background-color: #f2f2f2;
  margin-left: 1em;
  margin-top: 0.2em; }

.reveal .references li {
  padding: 0.3em;
  font-size: 0.7em;
  font-family: sans-serif;
  font-weight: lighter;
  padding-bottom: 0px; }

.reveal .references ul > li:before {
  content: "▹  ";
  font-family: FontAwesome;
  color: #010000;
  font-size: 1em;
  padding-right: 0.25em;
  display: inline-block; }

body {
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */ }

.reveal .slides {
  text-align: left;
  padding-top: 5vh; }

.reveal.center .slides {
  text-align: center;
  padding-top: 0px; }

.reveal .progress {
  position: absolute;
  top: 0;
  height: 1.25vh;
  background-color: rgba(0, 0, 0, 0.2); }

.reveal .footer {
  width: 100%;
  height: 6em;
  position: absolute;
  bottom: 0px;
  padding: 0px;
  font-size: 0.5em;
  line-height: 1.3em;
  color: white;
  background-image: url("img/bannerbottom.svg");
  background-repeat: no-repeat;
  background-position: left bottom;
  background-size: 100% 100%; }

.reveal .footer img {
  position: absolute;
  left: 3em;
  bottom: 0em; }

.reveal .footer #middlebox {
  position: absolute;
  left: 18em;
  bottom: 3px;
  width: 30em;
  height: 2em;
  font-size: 1em; }

.no-title-footer .footer {
  opacity: 0;
  transition: opacity 800ms ease-in-out; }

.no-progressbar .progress {
  opacity: 0;
  transition: opacity 800ms ease-in-out; }

.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  color: #e20026;
  font-weight: bold; }

.reveal h2 {
  margin-top: 0.7em;
  margin-bottom: 0.3em; }

.reveal ul {
  list-style-type: none; }

.reveal li ul, .reveal li ol {
  margin-left: 1em;
  list-style-type: circle; }

.reveal li li ul, .reveal li li ol {
  margin-left: 1em;
  list-style-type: none; }

.reveal ul > li:before {
  content: "■ ";
  color: #e20026;
  font-size: 1em; }

.reveal .cover {
  padding-top: 8em !important;
  color: white; }

.reveal .multiCol {
  display: table;
  table-layout: fixed;
  width: 100%;
  text-align: left; }
  .reveal .multiCol .col {
    display: table-cell;
    vertical-align: top;
    width: 50%;
    padding: 2% 0 2% 3%; }
    .reveal .multiCol .col:first-of-type {
      padding-left: 0; }
  .reveal .multiCol .bigcol {
    display: table-cell;
    vertical-align: top;
    width: 70%;
    padding: 2% 0 2% 3%; }
  .reveal .multiCol .smallcol {
    display: table-cell;
    vertical-align: top;
    width: 30%;
    padding: 2% 0 2% 3%; }

.reveal .cover h1, h2, h3 {
  margin-top: 2em;
  color: white; }

.reveal .cover .partners {
  padding-right: 1em;
  height: 4em; }

.reveal .cover .logo {
  margin-left: -0.5em; }

.reveal .cover img#inria {
  border: none;
  box-shadow: none;
  background-color: #ffffff;
  position: absolute;
  top: 0em;
  left: 0em;
  height: 4em; }

.reveal .footer img#bottom {
  margin-left: -2.7em;
  margin-bottom: 0.8em;
  background-color: #ffffff;
  box-shadow: 1px 1px 10px 0px gray; }

.reveal li {
  margin: 10px 0;
  types: square; }

.reveal section img {
  margin: 0;
  border: 0px;
  box-shadow: none;
  background-color: transparent; }

.two-floating-elements > ul ~ p,
.two-floating-elements > p ~ ul {
  max-width: 80%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

.two-floating-elements > p ~ ul {
  margin-left: 0; }

/*********************************************
* SLIDE NUMBER
*********************************************/
.reveal .slide-number {
  position: absolute;
  right: 0.4em;
  top: 0.6em;
  color: rgba(0, 0, 0, 0.2);
  font-size: 4.8vmax;
  background-color: transparent;
  font-family: "Fira Sans", sans-serif; }

.no-title-footer .reveal .slide-number {
  opacity: 0;
  transition: opacity 800ms ease-in-out; }

@media (max-width: 720px) {
  .reveal .footer #middlebox {
    display: none; }
  .reveal .footer #copyright {
    font-size: 2.3vmax;
    vertical-align: baseline; }
  .reveal .footer img {
    height: 60%; }
  .reveal .slide-number {
    font-size: 4vmax; }
  .reveal .progress {
    height: 1vh; } }

.reveal blockquote {
  padding: 35px;
  background: rgba(0, 0, 0, 0.03);
  border-left: 10px solid rgba(0, 0, 0, 0.2);
  box-shadow: none; }

section.has-dark-background h2 {
  color: #fff !important; }
